<div class="row footer">
	<div class="container">
		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
			<a href="http://www.paris.fr" alt="Paris.fr" title="Paris.fr (nouvelle fenêtre)" target="_blank"><img src="images/logo_mdp.png"></a>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
			<ul>
				<li>
					<a href="http://www.paris.fr/"><strong>Paris.fr</strong></a>
				</li>
				<#if isContactInstalled?? && isContactInstalled>
						<!-- <li><a href="jsp/site/Portal.jsp?page=contact" accesskey="7" >#i18n{portal.site.page_menu_tools.xpage.contact}</a></li> -->
				</#if>
				<li>
					<a href="http://www.paris.fr/mentions-legales" title="mentions légales (nouvelle fenêtre)" target="_blank">mentions légales</a>
				</li>
				<li>
					<a href="http://fr.lutece.paris.fr" title="lutece (nouvelle fenêtre" target="_blank">propulsé par lutece</a>
				</li>
			</ul>
		</div>
	</div>
</div>
